body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7ddda;
}

header {
    display: flex;
    background-color: #db9292;
    color: #fff;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px; 
    width: auto; 
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.column {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #db9292;
}

img {
    max-width: 100%;
    height: auto;
}

#products img {
    height: 300px;
    width: 300px;
}

@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .column {
        width: 30%;
    }
}